@import url("./fonts");
@import url("./components");

body {
  @apply font-IRANSans_Regular bg-background overflow-hidden text-right text-14;
  direction: rtl;
}

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}
.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}

.page-enter-active,
.fade-enter-active,
.fade-leave-active .page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.fade-enter-from,
.fade-leave-to .page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}
.alert-move,
.alert-enter-active,
.alert-leave-active {
  transition: all 0.5s ease;
}
.alert-enter-from,
.alert-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
