@import url("./fonts");
@import url("./components");

body {
  @apply font-IRANSans_Regular bg-background text-right text-14;
  direction: rtl;
}

.input-error-message {
  @apply text-error text-xs my-2;
}

.border-danger {
  @apply border border-error;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3B82F6 #D0D4DC;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #D0D4DC;
  border: 5px solid #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
  background-color: #F1F6FF;
}

*::-webkit-scrollbar-track:active {
  background-color: #D0D4DC;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3B82F6;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #419AFF;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #357ED1;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
  filter: grayscale(1);
}

.page-enter-active,
.fade-enter-active,
.fade-leave-active .page-leave-active {
  transition: all 0.4s;
}

.page-enter-from,
.fade-enter-from,
.fade-leave-to .page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.alert-move,
.alert-enter-active,
.alert-leave-active {
  transition: all 0.5s ease;
}

.alert-enter-from,
.alert-leave-to {
  opacity: 0;
  transform: translateX(30px);
}